@import "tailwindcss";

@theme {
  --font-family-dm-sans: var(--font-dm-sans), sans-serif;
  --font-family-montserrat: var(--font-montserrat), var(--font-dm-sans), sans-serif;
}

:root {
  --background: #212224;
  --first-color: #fcfaf4;
  --second-color: #f5a623ff;
  --third-color: #c7c8c8;
  --fourth-color: #111111;
  --tile-color: #343639;
  --tile-hover-color: #444647;
}

body {
  background-color: var(--background);
  color: var(--first-color);
  font-family: var(--font-dm-sans), sans-serif;
}
